.header
  display block
  margin 60px 0

.title
  font-size 100px
  line-height 120px
  margin-left -10px

.description
  font-size 24px
  margin-bottom 10px

.tweet
  font-size 18px
  display inline-block
  padding 5px 50px
  background-color #00aced
  color white
  text-decoration none
