*
  margin 0
  padding 0
  max-width 100%

body
  color black
  font-family Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif
  background-color yellow
  margin 20px 40px
  overflow-x hidden

html
  border 15px solid black
  min-height 100%
  box-sizing border-box
